@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.j {

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    font-family: 'DM Sans', sans-serif;
}

.lado-esquerdo{
    width: 50%;
}

.foto{
    width: 94%;
    height: 101%;
    margin: 0;
}

.lado-direito{
    width: 50%;
    padding-right: 5%;
}

.titulo{
    display: flex;
    margin-top: 11%;
    width: 100%;
    margin-left: 7%;
}

.detalheG{
    color:#4D4D4D !important;
    font-size: 3rem !important;
    margin-left: 8%;
    width: 70%;
}

.detalheP{
    color:#FE8235 !important;
    font-size: 3rem !important;
}

.subtitulo{
    display: flex;
    color:#4D4D4D !important; 
    width: 100%;
    padding-top: 5%;
    justify-content: center; 
    align-items: center;
}

.container-empresas {
  width: 480px;    
  height: 300px;         
  overflow-y: auto;
  padding-right: 10px;
  margin: 0 auto;    
  margin-top: 5%;
}

.lista-empresas {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

.card-empresa {
  background: #FDEADA;
  padding: 11px 18px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #FE8235;
  font-weight: 600;
  transition: 0.3s;
}

.card-empresa:hover {
    transform: translateY(-1px) scale(1.04); 
}

.card-empresa.ativa {
  background: #cce9d8;
}

.icone {
  font-size: 22px;
  color: #fe8235;
}

.card-empresa.ativa .icone {
  color: #3d9d67;
}

/* scrollbar estilo da imagem */
.container-empresas::-webkit-scrollbar {
  width: 6px;
}

.container-empresas::-webkit-scrollbar-thumb {
  background: #6dbd90;
  border-radius: 4px;
}

.container-empresas::-webkit-scrollbar-track {
  background: transparent;
}

.botao-detalhe{
    width: 67%;
    padding: 2%;
    text-align: center;
    background-color: #FE8235;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.botao-detalhe:hover{
    background-color: white;
    border: #FE8235 solid;
    color: #FE8235;
}

.botao-div{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}