@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.j {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  font-family: "DM Sans", sans-serif;
}

.lado-esquerdo {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.lado-direito {
  width: 50%;
  padding-right: 3%;
}

.titulo {
  display: flex;
  margin-top: 11%;
  width: 100%;
  margin-left: 9%;
}

.detalheG {
  font-size: 3rem !important;
  margin-left: 8%;
  width: 70%;
}

.detalheP {
  color: #fe8235 !important;
  font-size: 3rem !important;
}

.subtitulo {
  display: flex;
  color: #4d4d4d !important;
  width: 100%;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
}

.container-empresas {
  width: 480px;
  height: 300px;
  overflow-y: auto;
  overflow-x: visible; /* liberta o card */
  padding-right: 10px;
  margin: 0 auto;
  margin-top: 5%;
}

.lista-empresas {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
   overflow: visible;
}

.card-empresa {
  background: #fdeada;
  padding: 11px 18px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #fe8235;
  font-weight: 600;
  transition: 0.3s;
}

.card-empresa:hover {
  transform: translateY(-3px);
}


.card-empresa.ativa {
  background: #cce9d8;
}

.icone {
  font-size: 22px;
  color: #fe8235;
}

.card-empresa.ativa .icone {
  color: #3d9d67;
}


.botao-detalhe {
  width: 65%;
  padding: 2%;
  text-align: center;
  background-color: #fe8235;
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: #fe8235 solid;
}

.botao-detalhe:hover {
  background-color: white;
  border: #fe8235 solid;
  color: #fe8235;
}

.botao-div {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}


.card-empresa.ativa span:first-child {
  color: #3d9d67;
}
