*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_maior{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.container1{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 100%;
    height: 20%;
}