@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_maior {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: "DM Sans", sans-serif;
  gap: 6%;
  background-color: #F6F9FF;
}

.container1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  align-items: center;
  box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.2);
}

.textinho {
  display: flex;
  background-color: #cce2d9;
  width: 100%;
  color: #53a06e;
  padding: 0.4%;
  justify-content: center;
  align-items: center;
}

.container1_1 {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 35%;
  align-items: center;
}

.divLogo {
  display: flex;
  width: 40%;
  justify-content: start;
  align-items: center;
}

.divLogo img {
  width: 35%;
}

.divLogos {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: end;
  align-items: center;
  gap: 5%;
  color: #4b4b4b;
  font: medium;
}

.divN {
  display: flex;
  width: 14%;
  align-items: center;
  justify-content: space-between;
}

.divNs {
  display: flex;
  width: 27%;
  align-items: center;
  gap: 4%;
  font: medium;
  color: #fe8235;
}

.seta {
  width: 8%;
}

.img1 {
  width: 25%;
}

.img2 {
  width: 6%;
}

.img3 {
  width: 25%;
}

.container1_2 {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 20%;
  align-items: center;
  gap: 15px;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #fe8235;
  border-radius: 8px;
  width: 90%;
  padding: 0.5%;
  gap: 1%;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  background-color: transparent;
}

.lupa {
  width: 3%;
  padding-left: 1%;
}

.btn-search {
  background-color: #fe8235;
  border: none;
  color: white;
  width: 10%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  padding: 0.8%;
}

.btn-search:hover {
  opacity: 0.85;
}

.container1_3 {
  width: 70%;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.label-text {
  font-size: 16px;
  color: #4d4d4d;
  margin-right: 15px;
  font: medium;
}

.span {
  width: 30%;
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.filter {
  border: 2px solid #fe8235;
  border-radius: 8px;
  font-size: 14px;
  padding: 1%;
  padding-inline-end: 4%;
  padding-inline-start: 2%;
  cursor: pointer;
  outline: none;
  appearance: none;
  background-image: url("/setaCinza.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  color: #909090;
}

.filterinfuncional{
  border: 2px solid #fe8235;
  border-radius: 8px;
  font-size: 14px;
  padding: 1%;
  padding-inline-end: 3%;
  padding-inline-start: 3%;
  cursor: pointer;
  outline: none;
  appearance: none;
  background-size: 12px;
  color: #909090;
}

/* Dropdowns brancos */
.filter.white {
  background-color: white;
  color: #909090;
  background-image: url("/setaCinza.svg");
}

/* Dropdown laranja (como na imagem) */
.filter.orange {
  background-color: #fe8235;
  color: white;
  border-color: #fe8235;
  background-image: url("/setaBranca.svg");
}

.favorites {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  color: #555;
  width: 20%;
  cursor: pointer;
}

.heart {
  font-size: 16px;
  color: #ff914d;
}

.container2{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  align-items: center;
  gap: 8%;
}

.container2_1{
    display: flex;
    width: 70%;
    padding: 1%;
    border-radius: 8px;
    background-color: #fe8235;
    justify-content: start;
    align-items: center;
    color: white;
    font-size: 20px;
    padding-left: 1.5%;
}
.container2_2{
    display: flex;
    flex-direction: row;
    width: 70%;
}

.divCards {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    gap: 20px;
    align-items: start;
}

/* ---------------- CARD 1 (MENU) ---------------- */
.card1 {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 18px;
    width: 75%;
    padding: 6%;
    gap: 8px;
    color: #9E9C9C;
    font: medium;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.151);
    transition: ease;
}

.menuItem {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
    gap: 10px;
    font-size: 15px;
    color: #454545;
}

.menuItem p {
    margin: 0;
}

.menuItem img{
    width: 20%;
}

.menuItem:hover {
    background: #FDEADA;
    border-radius: 8px;
    color: #FE8235;
}

/* ---------------- TEXTO VERDE ---------------- */
.status {
    color: #2DA771;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}

/* ---------------- CARD 2 (CARTEIRINHA) ---------------- */
.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0px 8px 18px rgba(0,0,0,0.151);
    gap: 10px;
    width: 75%;
    color: #9E9C9C;
    font: medium;
    padding: 5%;
}

.topIcon {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 5px;
    align-items: center;
    gap: 6px;
}

.logomenor{
    width: 50%;
}

.nome {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #4D4D4D;
}

.credencialBox {
    display: flex;
    flex-direction: column;
    width: 80%;
    background: #FDEADA;
    padding: 3%;
    border-radius: 8px;
    text-align: center;
}

.credencialTitulo {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #FE8235;
}

.credencialTipo {
    margin: 0;
    font-size: 12px;
    color: #FE8235;
}

.divtextos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.estado {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 15px;
    color: #4D4D4D;
}

.codigo {
    margin: 0;
    font-size: 13px;
    color: #4D4D4D;
}

/* Barra laranja */
.codigoBarra {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.divProfissionais{
    display: flex;
    width: 70%;
    background-color: #2DA771;
    border-radius: 18px;
    height: 50%;
}

.divinformacoes{
    display: flex;
    flex-direction: column;
}