@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_maior{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: 'DM Sans', sans-serif;
}

.container1{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 100%;
    height: 30%;
    align-items: center;
}

.textinho{
    display: flex;
    background-color: #CCE2D9;
    width: 100%;
    color: #53A06E;
    padding: 0.4%;
    justify-content: center;
    align-items: center;
}

.container1_1{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 35%;
    align-items: center;
}

.divLogo{
    display: flex;
    width: 50%;
    justify-content: start;
    align-items: center;
}

.divLogos{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: end;
    align-items: center;
    gap: 6%;
    color: #4B4B4B;
    font: medium;
}

.divN{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-between;
}

.divNs{
    display: flex;
    width: 30%;
    align-items: center; 
    gap: 4%;
    font: medium;
    color: #FE8235;
}

.seta{
    width: 8%;
}

.img1{
    width: 25%;
}

.img2{
    width: 6%;
}

.img3{
    width: 25%;
}

.container1_2{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 20%;
    align-items: center;
    gap: 15px;
    padding-left: 2%;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #FE8235;
    border-radius: 8px;
    width: 90%;
    padding: 0.5%;
    gap: 1%;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background-color: transparent;
}

.lupa{
    width: 3%;
    padding-left: 1%;
}

.btn-search {
    background-color: #FE8235;
    border: none;
    color: white;
    width: 10%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
    padding: 0.8%;
}

.btn-search:hover {
    opacity: 0.85;
}

.container1_3 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding-left: 2%;
}

.label-text {
    font-size: 16px;
    color: #4D4D4D;
    margin-right: 15px;
    font: medium;
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter {
    border: 2px solid #FE8235;
    border-radius: 8px;
    font-size: 14px;
    padding: 5%;
    padding-inline-end: 20%;
    padding-inline-start: 6%;
    cursor: pointer;
    outline: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5.516 7.548l4.484 4.484 4.484-4.484-1.032-1.032-3.452 3.452-3.452-3.452z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

/* Dropdowns brancos */
.filter.white {
    background-color: white;
    color: #555;
}

/* Dropdown laranja (como na imagem) */
.filter.orange {
    background-color: #ff914d;
    color: white;
    border-color: #ff914d;
}

.favorites {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #555;
    cursor: pointer;
}

.heart {
    font-size: 16px;
    color: #ff914d;
}